.swap-selectors-button {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: solid 2px #B4B4B4;
  background-color: #B4B4B4;
  align-self: center;

  cursor: pointer;
  img {
    width: 60%;
    height: auto;
  }
}

.swap-selectors-button:hover {
  border: solid 2px #000;
}